$primaryColor: #FFF38A;
$secondaryColor: #827B68;
$backgroundColor: #060447;

$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'gt-ultra', sans-serif;


.sw {

  padding: 20px;
  background-color: $backgroundColor;
  font-family: $primaryFont;
  min-height: 100vh;


  .sw-container {
    margin-bottom: 20px;
    
    .sw-container-1 {

      margin-bottom: 20px;

      .sw-container-1-texts {
        margin-bottom: 10px;
        
        img {
          width: 40px;
          margin-bottom: 10px;
        }
    
        h1 {
          font-size: 26px;
          color: $primaryColor;
          font-weight: 700;
          margin-bottom: 5px;
        }
  
        p {
          font-size: 16px;
          color: $primaryColor;
          line-height: 2;
        }
  
      }
  
      h2 {
        font-family: $secondaryFont;
        font-size: 56px;
        color: $primaryColor;
        font-weight: 700;
      }

    }

    .sw-container-2 {
      width: 100%;
      height: 100%;
      aspect-ratio: 3/4;
      position: relative;
      overflow: hidden;
      box-shadow: 1px 1px 10px #000;

  
      img {
        position:absolute;
        top:0;left:0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        font-family: 'object-fit: cover;';// debug IE polyfill
      }
    }

  }

  .stapper {

    .stapper-container {
      position: relative;
      display: flex;
      justify-content: flex-end;


      .stapper-arrows {
        display: flex;
        cursor: pointer;

        .stapper-arrow {
          width: 30px;
          display: flex;

          svg {
            width: 100%;
            fill: $secondaryColor;
            transition: all linear .28s;
          }

          &.stapper-arrow-actif,
          &:hover {
              svg {
              fill: $primaryColor;
            }
          }

          &.stapper-arrow-right svg {
            transform: rotate(180deg);
          }

        }

        .stapper-text {
          padding: 10px;
          display: flex;
          justify-content: center;
          flex-direction: column;

          p {
            font-family: $primaryFont;
            font-size: 12px;
            font-weight: 700;
            color: $primaryColor;
          }

        }

      }

      .stapper-dots {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        display: none;

        .stapper-dot {
          height: 30px;
          width: 100%;
          display: inline-block;
          position: relative;
          display: flex;
          justify-content: center;
          flex-direction: column;

          &:first-child {
            width: 30px;
            min-width: 30px;
          }

          &::after {
            content: '';
            height: 30px;
            width: 30px;
            background: $secondaryColor;
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            right: 0;
          }


          &::before {
            content: '';
            height: 1px;
            width: 100%;
            background-color: $secondaryColor;
            display: inline-block;
          }

        }
      }

    }
  }

}



@media screen and( min-width: 768px ) {
  .sw {

    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    .sw-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 80px;

      .sw-container-1 {
        padding-right: 40px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 0px;
        width: 100%;

        .sw-container-1-texts {
          max-width: 480px;

          img {
            width: 80px;
            margin-bottom: 20px;
          }

          h1 {
            font-size: 32px;
            margin-bottom: 10px;
          }

          p {
            font-size: 18px;
          }
        }

        .sw-container-1-year {
          font-size: 100px;
          transform: translateY(19px);
        }

      }

      .sw-container-2 {
        width: 100%;
        min-width: 380px;
        max-width: 545px;
      }


    }

    .stapper {

      .stapper-container {
        flex-direction: column-reverse;

        
        .stapper-arrows {
          justify-content: end;
          
          .stapper-text {
            opacity: 0;
          }

          .stapper-arrow {
            width: 40px;
          }

        }

        .stapper-dots {
          display: inherit;
          margin-bottom: 40px;
        }

      }
    }

  }
}



@media screen and( min-width: 1024px ) {
  
  .sw {

    .sw-scontainer {
      width: 100%;
      max-width: 1366px;
      margin: 0 auto;
    }
    
    .sw-container {

      .sw-container-1 {

        .sw-container-1-texts {
          max-width: 420px;

          h1 {
            font-size: 40px;
          }

          p {
            font-size: 20px;
          }
        }

        .sw-container-1-year {
          font-size: 140px;
          transform: translateY(27px);
        }

      }

      .sw-container-2 {
        width: 100%;
        max-width: 430px;
      }


    }

    .stapper {

      .stapper-container {
        flex-direction:row;

        
        .stapper-arrows {
          justify-content: end;
          
          .stapper-text {
            opacity: 0;
          }

          .stapper-arrow {
            width: 40px;
          }

        }

        .stapper-dots {
          margin-left: 100px;
          margin-bottom: 0px;
        }

      }
    }

  }
}